.container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 1;
  padding: 5px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
}

.content {
  width: 100%;
  height: 100%;
  flex-grow: 20;
}
