.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  position: relative;
  bottom: 0;
  top: 0;
}
